* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  min-height: 1280px;
  color: #3b3b3b;
  font-size: 1rem;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

a,
a:visited,
a:hover {
  color: rgb(211, 211, 211);
  text-decoration: none;
  border-bottom: 2px solid #222327;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #222327;
  padding: 1rem;
  padding-right: 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 0rem;
  background-color: #222327;
}

.nav__examples > * {
  margin-right: 0.5rem;
  background-color: #222327;
}
.container {
  display: flex;
  height: 100%;
}

.content {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}


#intro {
  max-width: 500rem;
  margin: 0rem auto;
  text-align: center;
  background-color: #222327;
}

.intro__sub {
  font-size: 4rem;
  margin: 0rem auto 0.5rem auto;
  font-family: "Oswald";
  font-weight: 100;
  color: rgb(255, 255, 255);
  padding-top: 10%;
  padding-bottom: 2px;
  background-color: #222327;
}

.intro__hed {
  font-size: 1.5rem;
  margin: 0rem auto 0rem auto;
  font-family: "Oswald";
  font-weight: bolder;
  color: #ddd;
  background-color: #222327;
  
}

.intro__dek {
  color: #fdfdfd;
  margin: 2.5rem auto 0.5rem auto;
  background-color: #222327;
}

.intro__scroll {
  color: #dddddd;
  margin: 3rem auto 0.5rem auto;
  font-size: 1rem;
}

.intro__title {
  color: #000000;
  margin: 0rem auto 1rem auto;
  font-size: 1.7rem !important;
  font-weight: 600 !important;
}

#intro {
  margin-bottom: 0px;
}

.intro__categ {
  color: #000000;
  margin: 0rem 0rem 0rem 0rem;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

#outro {
  height: 640px;
  background-color: #222327;
}

/* Dropdown Button */


#myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background-color: rgb(0, 0, 0);
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

#myBtn:hover {
  background-color: #555;
  /* Add a dark-grey background on hover */
}

@media (min-width: 840px) {
  .nav__examples {
    margin-top: 0;
    margin-left: 2rem;
  }
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  width: 320px;
  background-color: #ffffff;
  color: #464646 !important;
  text-align: center;
  border-radius: 6px;
  padding-left: 0%;
  padding-right: 0%;
  position: absolute;
  z-index: 1;
  bottom: 2%;
  margin-left: 0px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}



/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.icons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95px;
}
